---
interface Props {
	label: string;
	name: string;
	required?: boolean;
	class?: string;
}

const props = Astro.props;
---

<div class={props.class}>
	<label class="block text-sm" for={props.name}>{props.label}</label>
	<textarea
		name={props.name}
		id={props.name}
		class="w-full rounded-md border border-gray-200 bg-white p-1 ring-ghall-green transition-colors hover:bg-gray-50 focus:bg-white"
		required={props.required ?? false}
		rows="5"></textarea>
</div>
