---
import clsx from 'clsx';

import Chip from '../ui/Chip.astro';
import { getDelay } from '../../utils/getDelay';
import { skills } from '../../data/skills';
---

<div>
	<div class="grid grid-cols-1 justify-items-center lg:grid-cols-2">
		{
			Object.keys(skills).map((key) => (
				<div class="col-span-1 m-5 intersect:motion-preset-fade intersect:motion-scale-in-50 last:odd:md:col-span-2">
					<div class="mx-auto max-w-[300px] p-3">
						<h2
							id={`${key.toLowerCase()}-label`}
							class="mb-4 text-center text-xl font-light"
						>
							{key}
						</h2>
						<div
							aria-labelledby={`${key.toLowerCase()}-label`}
							class="flex flex-wrap justify-center"
						>
							{skills[key].map((skill, i: number) => (
								<div
									class={clsx(
										'intersect:motion-preset-fade intersect:motion-scale-in-50 last:odd:md:col-span-2',
										getDelay(i)
									)}
								>
									<Chip icon={`skills/${skill.icon}`} label={skill.label} />
								</div>
							))}
						</div>
					</div>
				</div>
			))
		}
	</div>
</div>
